body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App {
  background-color: #444;
  color: #fff;
  font-weight: 800;
  font-family: sans-serif;
  padding: 20px;
}
